.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

body{
    transition: 1s;
}

.box{
    /* display: none; */
    img{
        width: 40%;
    }
}

.open{
    display: block;
}

.close{
    display: none;
}

.anim{
animation: anim 5s infinite linear;

}


@keyframes anim{
    0%{
transform: rotate(0deg);
    }

    100%{
transform: rotate(360deg);
    }
}
